[submodule "SBN-evaluation-tool"]
	path = SBN-evaluation-tool
	url = https://github.com/xiulinyang/SBN-evaluation-tool.git
[submodule "am-tools"]
	path = am-tools
	url = https://github.com/xiulinyang/am-tools.git
[submodule "am-parser"]
	path = am-parser
	url = https://github.com/xiulinyang/am-parser.git
